.opacity-show {
    animation: interface-show 250ms ease;
}

.opacity-hide {
    animation: interface-hide 250ms ease;
}

@keyframes act-icon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes interface-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes interface-hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bar-show {
    0% {
        opacity: 0;
        width: 0%;
    }

    100% {
        opacity: 1;
        width: fit-content;
    }
}

@keyframes bar-hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 0%;
    }
}